<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title>学生信息管理页面</title>
	<style type="text/css">
		.breadcrumb{
			width:1150px;
			background: none;
		}
		h3{
			text-align: center;
			font-size:30px;
			color: red;
			margin-bottom: 20px;
		}
		.form-inline .form-group,.form-inline .form-control{
			margin-left: 50px;
		}
		.table{
			width: 1000px;
			margin: 30px 60px;
		}
		.table tr th,.table tr td{
			width: 150px;
			text-align: center;
		}
		.pagination{
			margin-left: 80px;
		}
	</style>
</head>
<body>
	<!--学生信息管理导航-->
	<ol class="breadcrumb">
	  <li><a href="/ad_stuinfo">学生管理</a></li>
	  <li><a href="/ad_stuinfo">学生信息管理</a></li>
	</ol>
	
	<h3>学生信息管理</h3>
	<!--学生列表查询-->
	<div class="form-inline">
	  <div class="form-group">
	    <label class="sr-only" for="exampleInputEmail3">学号查询</label>
	    <input type="text" class="form-control" id="bidfind" placeholder="请输入学生学号">
	  </div>
	  <button type="button" class="btn btn-primary" id="bidfind_btn">学号查询</button>
	   <div class="form-group">
	    <label class="sr-only" for="exampleInputEmail3">姓名查找</label>
	    <input type="text" class="form-control" id="bnamefind" placeholder="请输入学生姓名">
	  </div>
	  <button type="button" class="btn btn-success" id="bnamefind_btn">姓名查询</button>
	    <select class="form-control" id="bkindfind">
		  <option>信息工程系</option>
		  <option>建筑工程系</option>
		  <option>商学系</option>
		  <option>会计系</option>
		  <option>艺术系</option>
		</select>
	  <button type="button" class="btn btn-danger" id="bkindfind_btn">系别查询</button>
	</div>
	
	<!--借阅信息列表-->
	<table class="table">
		<thead>
			<tr>
				<th>系统名称</th>
				<th>学号</th>
				<th>姓名</th>
				<th>性别</th>
				<th>系别</th>
				<th>电话</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% info.map(function(item){ %>
			<tr>
				<td><%- item.stuadname %></td>
				<td><%- item.stunum %></td>
				<td><%- item.stuname %></td>
				<td><%- item.stusex %></td>
				<td><%- item.studept %></td>
				<td><%- item.stutel %></td>
				<td>
					<button class="btn btn-success" _id="<%- item._id %>" id="revertdelete_btn">修改</button>
					<button class="btn btn-danger" _id="<%- item._id %>" id="revertdelete_btn">删除</button>
				</td>				
			</tr>
			<% }) %>
		</tbody>
	</table>
	
	<!--分页-->
	<ul class="pagination">
	    <li>
	      <a href="/ad_stuinfo?page=<%- page<=1?1:parseInt(page)-1 %>" aria-label="Previous">
	        <span aria-hidden="true">上一页</span>
	      </a>
	    </li>
	    <% if(allPages>4){ %>
	    		<li><a href="/ad_stuinfo?page=1">1</a></li>
			    <li><a href="/ad_stuinfo?page=2">2</a></li>
			    <li><a href="#">...</a></li>
			    <li><a href="/ad_stuinfo?page=<%- allPages-1 %>"><%- allPages-1 %></a></li>
			    <li><a href="/ad_stuinfo?page=<%- allPages %>"><%- allPages %></a></li>  	
	    <% }else{ %>
	    	<% for(let i=0;i<allPages;i++){ %>
	    		<li><a href="/ad_stuinfo?page=<%- i+1 %>"><%- i+1 %></a></li>
	    	<% } %> 
	    <% } %>	    
	    <li>
	      <a href="/ad_stuinfo?page=<%- page>=allPages?allPages:parseInt(page)+1 %>" aria-label="Next">
	        <span aria-hidden="true">下一页</span>
	      </a>
	    </li>
	  </ul>
</body>
</html>