<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<title>图书借阅</title>
	<style type="text/css">
		.breadcrumb{
			width:1150px;
			background: none;
		}
		.form-inline .form-group,.form-inline .form-control{
			margin-left: 50px;
		}
		.table{
			width: 1000px;
			margin: 30px auto;
		}
		.table th,.table td{
			text-align: center;
		}
		.pagination{
			margin-left: 80px;
		}
	</style>
</head>
<body>
	<!--图书借阅-->
	<ol class="breadcrumb">
	  <li><a href="/stubor">图书借阅</a></li>
	  <li><a href="/stubor">图书查询</a></li>
	</ol>
	
	<!--图书列表查询-->
	<div class="form-inline">
	   <div class="form-group">
	    <input type="text" class="form-control" id="bnameborfind" placeholder="请输入书名">
	  </div>
	  <button type="button" class="btn btn-success" id="bnameborfind_btn">书名查询</button>
	    <select class="form-control" id="bkindborfind">
		  <option>文学类</option>
		  <option>科幻类</option>
		  <option>艺术类</option>
		  <option>学习辅助类</option>
		  <option>报刊杂志</option>
		</select>
	  <button type="button" class="btn btn-danger" id="bkindborfind_btn">类别查询</button>
	</div>
	
	<!--图书列表展示-->
	<table class="table">
		<thead>
			<tr>
				<th>序号</th>
				<th>书名</th>
				<th>作者</th>
				<th>出版社</th>
				<th>库存</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<% info.map(function(item,i){ %>
				<tr>
					<td><%- (page-1)*size+i+1 %></td>
					<td><a data-toggle="modal" data-target="#myModal" data-look='<%- item._id %>'"><%- item.newbname %></a></td>
					<td><%- item.newbwriter %></td>
					<td><%- item.newbpress %></td>
					<td><%- item.newbaddnum %></td>
					<td>
						<% if(item.newbaddnum<=0){ %>
							<button class="btn btn-danger" disabled>书已借完</button>
						<% }else{ %>
							<button type="button" class="btn btn-primary" data-id="<%- item._id %>" id="bookbor">申请借阅</button>
						<% } %>
					</td>
				</tr>
			<% }) %>
		</tbody>
		<!--模态框-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><!--书名--></h4>
		      </div>
		      <div class="modal-body">
		        	<!--详情内容-->
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		      </div>
		    </div>
		  </div>
		</div>
		
	</table>
	
	<!--分页-->
	  <ul class="pagination">
	    <li>
	      <a href="/stubor?page=<%- page<=1?1:parseInt(page)-1 %>" aria-label="Previous">
	        <span aria-hidden="true">上一页</span>
	      </a>
	    </li>
	    <% if(allPages>4){ %>
	    		<li><a href="/stubor?page=1">1</a></li>
			    <li><a href="/stubor?page=2">2</a></li>
			    <li><a href="#">...</a></li>
			    <li><a href="/stubor?page=<%- allPages-1 %>"><%- allPages-1 %></a></li>
			    <li><a href="/stubor?page=<%- allPages %>"><%- allPages %></a></li>  	
	    <% }else{ %>
	    	<% for(let i=0;i<allPages;i++){ %>
	    		<li><a href="/stubor?page=<%- i+1 %>"><%- i+1 %></a></li>
	    	<% } %> 
	    <% } %>	    
	    <li>
	      <a href="/stubor?page=<%- page>=allPages?allPages:parseInt(page)+1 %>" aria-label="Next">
	        <span aria-hidden="true">下一页</span>
	      </a>
	    </li>
	  </ul>
	  <script src="/javascripts/bookborc.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>